@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
}

body {
    background-color: #E1F5EC;
}

li {
 list-style: none;
}

a {
    text-decoration: none;
}
section{
    min-height: 700px;
    padding: 125px 40px;
}

section#habilidades, section#contacto {
    background-color: #05162F;
}

#micv {
    margin: 20px auto;
    color: #303030;
    width: 95%;
}

.content {
    background-color: #fff;
}

h2 {
    color: #214D8C;
    font-weight: bold;
    font-size: 30px;
    margin: 0px 40px 70px 40px;
    padding: 10px 0;
    border-bottom: 1px solid #CBCBCB;
}

section#habilidades h2, section#contacto h2 {
    color: #5591E9;
    border-bottom: 1px solid #697382;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    color: #5591E9;
    /* margin: 30px 25px 10px 25px; */
}

              /*    header */

header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #A3CFBB;
    color: #fff;
    height: 75px;
}

nav ul {
    margin: 24px;
    float: right;

}
nav li {
    margin: 0 5px;
    display: inline-block;
}
nav a{
    color: #fff;
    transition: 0.1s;
    font-size: 16px;
    padding: 5px;
    font-weight: 400;
}
nav a:hover, nav a:focus, nav a:active, .active a{
    color: #198754;
    font-weight: 700;
    font-size: 17px;
    border-bottom: 2px solid #198754;
}
 

            /* mi info */
.foto {
    width: 175px;
    /* margin-top: 10px; */
}
.nombre {
    font-weight: bold;
font-size: 35px;
color: #303030;
margin-bottom: 0px;
}
.puesto {
font-weight: 400;
font-size: 13px;
color: #5591E9;
opacity: 0.7;
}
.info {
    margin: 30px ;
}
.descripcion {
    font-weight: 400;
    font-size: 14px;
}
.info-personal {
    padding: 20px 40px;
}
.info-personal .title {
    color: #5591E9;
    font-weight: 600;
    margin-bottom: 5px;
}
.info-personal .text {
    font-size: 13px;
    font-weight: 400;
    opacity: 0.7;
}


            /* habilidades  */
.habilidad {
    margin: 15px 25px;
}
.habilidad p {
    font-size: 14px;
    margin: 10px 0;
    color: #fff;
}
.habilidad p span {
    float: right;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.7;
    color: #fff;
}
.barrita {
    background-color: #E0ECFF;
    height: 8px;
    border-radius: 4px;
    width: 100%;
}
.porcentaje {
    background-color: #2DB777;
    height: 8px;
    border-radius: 4px;
    position: relative;
    width: 0%;
    opacity: 0;
    transition: all 2s;
}

        /* circulo habilidades  */
.circulo {
    margin: 30px 0;
    min-height: 120px;
    position: relative;
    text-align: center;
}

.circulo strong {
    position: absolute;
    top: 65%;
    left: 50%;
    margin-top: -50px;
    transform: translate(-50%);
    font-size: 13px;
    opacity: 0.7;
    font-weight: 400;
    color: #fff;
}
.idioma-nombre {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
    
 }

 /* experiencia*/
 .experiencias {
    /* height: 200px; */
    border: 1px solid #CECECE;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 20px;
    transition: 0.2s;
 }
 .experiencias:hover {
    box-shadow: 0px 0px 15px #ccc;
    transform: scale(1.02);
 }
 .experiencias img {
    display: block;
    margin: 15px auto;
    width: 65px;
 }
 .experiencias .exp-nombre {
    color: #2DB777;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
 }

 .experiencias .exp-descripcion {
    color: #999999;
    font-size: 13px;
    text-align: center;
 }

 .estudios {
    background-color: #F4F8FE;
    /* height: 125px; */
    border: 1px solid #85B0F0;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 20px;
    transition: 0.2s;
 }

 .estudios:hover {
    box-shadow: 0px 0px 15px #85B0F0;
    transform: scale(1.02);
 }
 .estudios  .tiempo {
    color: #fff;
    font-size: 13px;
    background: #85B0F0;
    padding: 8px;
    width: 100px;
    text-align: center;

 }
 .estudios .est-nombre {
    color: #5591E9;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
 }

 .estudios .est-descripcion {
    color: #999999;
    font-size: 13px;
    margin: 0;
 }

 .est-cont, .exp-cont {
    padding: 0 25px;
 }
            /* contacto  */

section#contacto {
    border-radius: 0 0 5px 5px;
}
#contacto form {
    margin: 40px;
}
#contacto form label {
    color: #fff;
    opacity: 0.8;
    font-weight: 400;
    font-size: 14px;
}
#contacto form input, #contacto form textarea {
    font-size: 13px;
    opacity:0.7;
    padding: 10px;
    border-radius: 5px;
    background: #112746;
    border: 1px solid #6C798C;
}
#contacto form button {
    background-color: #198754;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    color: #fff;
    float: right;
    font-size: 13px;
    transition: 0.2s;
}
#contacto form button:hover {
    background-color: #2DB777;
}
#contacto form button img {
    margin-right: 10px;
    height: 25px;
}
#contacto iframe {
    width: 100%;
    height: 350px;
    border: none;
    margin: 40px 0;
}
.info-contacto h3 {
    margin: 40px 0;
}
.info-contacto p{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}
.info-contacto p img {
    margin-right: 10px;
    height: 25px;
}

            /* Scroll barrita */
#micv .content::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 6px;
    height: 2px;  
}

#micv .content::-webkit-scrollbar-thumb, html::-webkit-scrollbar {
    background: #5591E9;
    border-radius: 0;
}

            /* SCROLL TOP  */
#TopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none; 
    background-color: #0A58CA; 
    color: white;
    border-radius: 5px;
    padding: 7px 25px;
    transition: 0.3s;
    font-size: 14px;
  }
  
  #TopBtn:hover {
    background-color: #5591E9;
  }

  #TopBtn img {
    height: 15px;
    margin-right: 10px;
  }
  



@media (max-width: 768px) {

    #micv {
        width: 90%;
    }

    section{
        padding: 25px 0;
    }
            /* header  */
    header {
        height: 75px;
        border-radius:5px 5px 0 0;
        /* position: initial; */
        padding: 0; 
        top: -10px;
    }

    nav ul {
        margin: 0;
        padding: 0;
        float: none;
        text-align: center;
    }
    nav li {
        margin: 25px 3px;
        display: inline-block;
    }
    nav a{
        font-size: 12px;
        padding: 0;
    }
    nav a:hover, nav a:focus, nav a:active, .active a{
        font-size: 12px;
    }


    /* sobre mi  */
    .info {
        margin: 30px 10px;
    }

    .foto {
        display: block;
        margin: auto;
    }
    .nombre, .puesto, .descripcion {
        text-align: center;
    }

    .nombre {
        font-size: 25px;
        margin-top: 15px;
    }

    #contacto h2 {
        margin-bottom: 20px;
    }

    #contacto form button {
        width: 100%;
    }

    #contacto iframe {
        margin: 10px auto;
        display: block;
        width: 90%;
    }
    .info-contacto {
        margin: 0 25px;
    }

    .info-contacto h3{
        margin-bottom: 20px;
    }
  }